.img-slider{
    position: relative;
    overflow: hidden;
}
.img-contaner{
    display: flex;
    overflow-x: scroll;
}
.station{
    position: absolute;
    width:100%;
    left:0px;
    bottom:0px;
    background-color:#000;
    opacity: 0.5;
    justify-content: flex-end;
   align-items: stretch;
   display: flex;
   color:#fff;
}
.station .stationSpan{
    display: flex;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color:#fff;
    margin-left:5px;
}